# macOS
.DS_Store

# Node/Frontend (generic)
node_modules/
dist/
build/

# Gradle
**/.gradle/
**/build/

# IDEs
.idea/
.vscode/
*.iml

# Logs
*.log

# Docker
*.pid
/backend-oscars/src/main/resources/static/
